body {
  margin: 0;
  background-color: var(--Pale-blue);
  font-family: 'Red Hat Display', sans-serif;
}

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 100vh;

  /* background-color: var(--Very-pale-blue); */
}
header img {
  border-radius: 10px 10px 0px 0px;
}

.order {
  background-color: var(--Very-pale-blue);
  margin-top: -5px;
}

.order h1 {
  width: 70%;
  text-align: center;
  margin-left: 80px;
}

.order p {
  width: 66%;
  text-align: center;
  margin-left: 95px;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  color: var(--Desaturated-blue);
}

.music-icon-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--Very-pale-blue);

  /* flex-direction: row; */
}

.icon-img {
  margin-left: 40px;
}

.icon-label {
  margin-left: -45px;
  margin-bottom: 8px;
}

.icon-label h2 {
  margin-bottom: 7px;
}

.icon-label h4 {
  margin-top: -5px;
  color: var(--Desaturated-blue);
  font-size: 14px;
}

.music-icon-div a {
  color: var(--Bright-blue);
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.cta-div {
  background-color: var(--Very-pale-blue);
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding-bottom: 30px;
}

.cta-div button {
  margin-top: 30px;
  padding: 10px;
  width: 370px;
  color: white;
  background-color: var(--Bright-blue);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 15px 15px rgba(84, 82, 231, 0.2);
  cursor: pointer;
}

.cta-div p {
  text-align: center;
  color: var(--Desaturated-blue);
  padding-top: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
